/*General Styling for all Pages*/

#mobile-outline {
    outline: 20px solid #333;
    max-width: 412px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
}

body {
    color: #333;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 20px;
}

a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #333;
}

.red-text-header {
    color:#9a2018;
    font-size: 12px;
    line-height: 12px;
}

.red-text-body {
    color: #9a2018;
    font-size: 14px;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

.cr-red {
    color: #9a2018;
}

.read-more {
    color: #9a2018;
}
/*this is the red line that separates titles and content*/
.line-separator {
    margin-top: 20px;
    border-top: solid 3px #cf6666;
    padding-top: 20px;
}

/*Main navigation for all pages*/

#main-nav label img {
    width: 20px;
    height: 20px;
    margin-top: 15px;
    cursor:pointer;
    transition: all .5s ease;
    margin-bottom: 20px
}

#main-nav input, #burger-con {
    display: none;
}

/*Burger Icon sibling selector*/

#main-nav input:checked ~ #burger-con {
    display: block;
}

#main-nav input:checked ~ label img {
    transform: rotate(90deg);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #626262;
}

#main-nav ul li {
    border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
    border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
    margin-bottom: 10px;
}
    
#logo {
    margin-bottom: 20px;
    max-width: 382px;
}

/*Main Hero Image*/
#hero-spa {
    background: url(../images/hero-img-mobile-spa.jpg) no-repeat;
    height: 220px;
}

#hero-rooms {
    background: url(../images/hero-img-mobile-rooms.jpg) no-repeat;
    height: 220px;
}

#hero-algonquin {
    background-image: url(../images/ap-hero-image-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 220px;
}

/*Book Now Button*/
.book-now {
    background-color: #9a2018;
    color: #fff;
    border-radius: 2px;
    font-size: 18px;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
}

.book-now:hover {
    background-color: rgb(196,28,28);
}

#book-now-hero {
    height: 67px;
}

/*Hero Image and Heading Box*/
#hero-heading-box {
    align-self:end;
}

.hero-image-h2, .hero-image-h3 {
    background: #fff;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 25px;
}

.hero-image-h2 span, .hero-image-h3 span {
    color: #9a2018;
    font: 12px;
}

#hero-summary p {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px
}

#hero-summary-ap {
    margin-bottom: 15px;
}
/*Spa Content*/

#spa-information {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid #626262;
}

#spa-information-nav ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    line-height: 25px;
}

#spa-information-nav ul li {
    margin-bottom: 15px;
}

#spa-information-nav ul li a {
    color: inherit;
    padding: 5px;
}

#spa-information-nav ul li a.selected {
    border-left:#9a2018 solid 5px;
}

/*Registered Massage Therapy Content*/
#registered-massage-therapy-con {
    background: url(../images/header-img1-mobile-spa.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 206px;
    margin-top: 25px;
}

#registered-massage-therapy-box {
    align-self: end;
}

#massage-therapy p {
    font-size: 14px;
    line-height: 20px;
}

#massage-therapy-img {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #B8B8B8;
    width: 382px;
    height: 115px;
}

#massage-award h2 {
    color: #9a2018;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

#quality-assurance {
    display: flex;
    align-items: center;
}

#quality-assurance img {
    width: 176px;
    margin-right: 20px;
}

.quality-assurance-con {
    margin-bottom: 20px;
}

.quality-assurance-con a {
    color:#9a2018;
}

/*Treatments*/
#treatments {
    background-color: #f4f4f4;
    margin-top: 45px;
    padding-bottom: 45px;
}

#treatments-heading-box {
   align-self: end;
}

#treatments-h2 {
    padding: 10px 15px;
    font-size: 18px;
    line-height: 25px;
}

#treatments-menu details {
    padding: 10px;
    margin: 5px;
    background-color: #E8E7E7;
    width: 375px;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
}

#treatments-menu summary {
    font-size: 14px;
}

#treatments-menu p {
    padding: 5x;
}

#treatments-menu p:first-of-type {
    margin-top: 10px;
}

#treatments-menu ul {
    padding-left: 0;
}

#treatments-menu ul li {
    list-style: none;
    color: #333;
    border-bottom: 1.5px solid #9a2018;
    padding: 10px;
}

#nail-polish {
    margin-top: 20px;
    margin-bottom: 30px;
}

#nail-polish p {
    font-size: 12px;
}

/*Spa Policies*/

#spa-policies-con {
    background-image: url(../images/header-img2-mobile-spa.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 206px;
}

#spa-policies-heading-box {
    align-self: end;
}

#spa-policies-img1 {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #B8B8B8;
    width: 382px;
    height: 115px;
}

#spa-policies-2 p{
    margin-bottom: 8px;
}

#spa-policies-2 a {
    color: #9a2018;
    font-size: 18px;
    float: right;
}

#unforseen-cir {
    margin-top: 20px;
    margin-bottom: 10px; 
}

#unforseen-cir h3 {
    margin-bottom: 10px;
}

#unforseen-cir p {
    margin-bottom: 8px;
}

#unforseen-cir a {
    color: #9a2018;
    font-size: 18px;
    float: right;
}

#spa-red-box {
    margin-top: 20px;
    background-color: #9a2018;
    border: 1px solid #B8B8B8;
    margin-bottom: 45px;
}

#spa-red-box p {
    color:#f4f4f4;
    font-size: 12px;
    margin: 10px;
}

#spa-red-box a {
    font-style: italic;
    color: rgb(255, 190, 26);
}

/*Contact*/
#contact-hero-con {
    background: url(../images/header-img3-mobile-spa.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    height:206px;
 }
 
 #contact-hero-heading-box {
    align-self: end;
 }
 
 #contact-hero-text {
    margin-top: 15px;
    margin-bottom: 25px;
 }
 
 #contact-hero-address p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
 }
 
 #contact-hero-address {
    margin-bottom: 30px;
 }
 
 #contact-hero-address h3 {
    margin-bottom: 25px;
 }
 
 #contact-hero-form form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-hero-form input, textarea {
    padding: 22px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
    width: auto;
 }
 
 #contact-hero-form textarea {
    height: 250px;
 }
 
 #contact-hero-form input[type="submit"] {
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }
 
 #contact-hero-form input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
 }


/*Rooms Content*/

#rooms-list ul li {
    display: block;
    padding: 10px;
    text-align: left;
    color: #626262;
}

#rooms-list ul li {
    border-bottom: 1.5px solid #9a2018;
}


/*Algonquin Park Content*/

#ap-image1 {
    display: flex;
    align-items: center;
}

#ap-image1 img {
    width: 176px;
    margin-right: 20px;
}

.algonquin-park-con {
    margin-bottom: 20px;
}


/*Footer for all Pages*/
#footer-hero {
    background-image: url(../images/background-contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }
 
 #footer-hero h3 {
    margin-top: 30px;
    font-size: 28px;
    margin-bottom: 16px;
 }
 
 #footer-privacy .line-seperator {
    margin-top: 0px;
 }
 
 #footer-contact-info h3 {
    font-size: 23px;
 }
 
 #footer-contact-info p {
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 10px;
 }
